<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tree Hollow - User Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'first_app/substyle.css' %}">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="{% static 'first_app/skroll.js' %}"></script>
  </head>
  <body>
    <main>
      <div id="header">
        <span><a href="/hollow">Back</a></span>
        <span><a href="/logout">Logout</a></span>
      </div>
      <div id="userinfo">
        <h2>{{user.alias}}'s Profile</h2>
        <h3>Name: {{user.name}}</h3>
        <h3>Email Address: {{user.email}}</h3>
        <h3>Joined Date: {{user.created_at}}</h3>
      </div>
    </main>
  </body>
</html>
